# Vamos utilizar o mlflow para ler a nossa model pipeline

Neste notebook iremos utilizar a pipeline que registamos no notebook anterior para fazer previsões.

In [2]:
import mlflow
import pandas as pd

In [3]:
from pathlib import Path

uri = "../../mlruns/local"

Path(uri).mkdir(parents=True, exist_ok=True)

mlflow.set_tracking_uri(uri)

In [4]:
# Fazer load da versão 1 do modelo "logistic_regression" que registamos no notebook anterior
# Têm de mudar a versão de acordo com quantas versões registaram.

model_name = "logistic_reg"
model_version = "3"

model = mlflow.pyfunc.load_model(f"models:/{model_name}/{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: lr_pipeline
  flavor: mlflow.sklearn
  run_id: 9f014acad50046a19ab190a35b235cdb

## Vamos utilizar o modelo lido para fazer previsões

In [5]:
data_path = '../../data/diabetes_test.csv'
df = pd.read_csv(data_path)

In [6]:
input_data = df.loc[df.Outcome == 1].sample(10)
input_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
113,2,93,64,32,160,38.0,0.674,23,1
33,4,109,64,44,99,34.8,0.905,26,1
95,7,184,84,33,0,35.5,0.355,41,1
84,6,190,92,0,0,35.5,0.278,66,1
27,11,120,80,37,150,42.3,0.785,48,1
105,1,128,88,39,110,36.5,1.057,37,1
31,11,111,84,40,0,46.8,0.925,45,1
17,3,163,70,18,105,31.6,0.268,28,1
67,4,184,78,39,277,37.0,0.264,31,1
0,7,97,76,32,91,40.9,0.871,32,1

In [7]:
model.predict(input_data.drop("Outcome", axis=1))

array([0, 0, 1, 1, 1, 0, 1, 1, 1, 1])